.table_dark {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    width: 50%;
    color: #1A132F;
    font-size: 40px;
    text-align: center;
    border-collapse: collapse;
    margin: auto;
}
.table_dark th {
    color: #1A132F;
    padding: 12px 17px;
    font-size: 14px;
}
.table_dark td {
    color: #1A132F;
    padding: 7px 17px;
    font-size: 14px;
}
.table_dark tr:last-child td {
    border-bottom: 1px;
}
.table_dark td:last-child {
    border-right: 1px;
}
a {
    text-decoration: none;
    color: #1A132F;
}
input {
    font-size: 15px;
    width: 200px;
    text-align: center;
}
